/*	‹†‘z‚Ì” ’ë‚S@Map Maker—p	*/
BODY {color: black; background-color: #FFF7EF; margin-left:22px;}

A {text-decoration: none; color: gray; cursor: hand;}

A:hover {text-decoration: underline; color: gray; cursor: hand;}
